.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #938F3D;
    position: relative;
  }
  
  .wood {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 100vh;
    background-color: rgb(133, 81, 23);
    z-index: -1;
  }
  
  .form-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    background-color: #D4A373;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  
  .login-signup-form input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-signup-form button {
    padding: 10px;
    background-color: #E8DD13;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .login-signup-form button:hover {
    background-color: #D4BD0A;
  }